@font-face { 
	font-family: italiano;
	 src: url(../fonts/Italianno/Italianno-Regular.ttf) ;
	 
	}
@font-face { 
	font-family: oxygeno;
	 src: url(../fonts/Oxygen/Oxygen-Regular.ttf) ;
	 
	}

@font-face { 
	font-family: light;
	 src: url(../fonts/Lato/Lato-light.ttf) ;
	 
	}